body { 
  style="background-color:dimgray;">
}

h1 {
  text-align: center;
  font-style: Archivo;
  font-size: 40px;
  color: White;
}
h2 {
  text-align: center;
  font-style: arial;
  font-size: 30px;
  color: White;
}
h3 {
  text-align: center;
  font-style: arial;
  font-size: 30px;
  color: White;
}
h4 {
  text-align: center;
  font-style: arial;
  font-size: 30px;
  color: White;
}
h5 {
  text-align: center;
  font-style: arial;
  font-size: 30px;
  color: White;
}
h10 {
  text-align: center;
  font-style: arial;
  font-size: 15px;
  color: White;
}

