body { 
  background-image: url("Powerpoint.PNG");
  background-repeat: no-repeat;
  background-color: dimgray;
}
img {  
  width: 1920;  
  height: 1080;
}
h1 {
  text-align: center;
  font-style: Arial;
  font-size: 40px;
  color: White;
}
h2 {
  text-align: center;
  font-style: arial;
  font-size: 30px;
  color: White;
}
h3 {
  text-align: center;
  font-style: arial;
  font-size: 20px;
  color: White;
}
h4 {
  text-align: center;
  font-style: arial;
  font-size: 20px;
  color: White;
}
h5 {
  text-align: center;
  font-style: arial;
  font-size: 20px;
  color: White;
}
h6 {
  text-align: center;
  font-style: arial;
  font-size: 20px;
  color: White;
}
p {
  text-align: center;
  font-style: Century Schoolbook;
  font-size: 15px;
  color: White;
}
