body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  padding-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Verticaal centreren */
}

.sidebar-left {
  background-color: #888; /* Grijze kleur toegevoegd */
  left: 0;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: cyan; /* Cyaan blauw toegevoegd */
  display: block;
  text-align: center; /* Horizontaal centreren */
}

.sidebar a:hover {
  color: #f1f1f1;
}

.content {
  margin-left: 200px;
  margin-right: 200px; /* Voeg rechtermarge toe voor de sidebar aan de rechterkant */
  padding: 16px;
}
