body {
    margin: 0;
    padding: 0;
    border: 10px solid #ccc;
}

.layer {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    cursor: pointer;
}

#quiz {
    display: none;
}
